@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: #000000;
  --primary-grey: #cccccc;
  --primary-yellow: #daff01;
  --primary-purple: #9353ff;
  --secondary-pink: #ee6471;
  --secondary-orange: #f87f46;

 
}